@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*colors */
:root {
    --blue: #2741BA;
    --darkblue: #25259C;
    --violet: #5D53AD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--blue);

    background-attachment: fixed;
    background-size: cover;
    color: white;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 4rem;
}

.intro {
    margin-top: 48px;
    margin-bottom: 24px;
}

.hidden {
    filter: blur(8px);
}

canvas {
    border: none;
    cursor: crosshair;
    display: block;
    margin: 24px auto;
    background-color: white;
    border-radius: 4px;
}


.tools {
    display: flex;
    justify-content: space-around;
    flex: 1;
    width: 40%;
    margin: 0 auto;
    background-color: var(--violet);
    padding: 12px;
    border-radius: 12px;
    border: none;
}

.guess {
    display: grid;
    grid-template-columns: 1fr 120px;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 24px auto;
    background-color: var(--darkblue);
    padding: 8px;
    border-radius: 24px;
}

.Btn {
    width: 38px;
    height: 38px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    border: none;

}

#black {
    background-color: black;
}

#grey {
    background-color: grey;
}

#blue {
    background-color: blue;

}

#yellow {
    background-color: yellow;

}

#red {
    background-color: red;

}

#pink {
    background-color: pink;

}

#white {
    background-color: white;

}

.answer-container {
    margin: 24px 0;
}

.fa-solid {
    pointer-events: none;
}


.answer-container h3 {
    margin: 24px 0;
}

.play {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play button {
    width: 300px;
    height: 80px;
    cursor: pointer;
    font-size: 3rem;
    background: #060B6E;
    border: none;
    border-radius: 36px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.play button:hover {
    background: #060B6E;
    transform: scale(1.1);

}




#container {
    display: none;
    transition: 0.4s linear;
}

#guessWord {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #fed553;
    font-weight: 600;

}

#answer {
    width: 220px;
    height: 28px;
    border-radius: 6px;
    outline: none;
    padding: 4px;
    border: none;
    background-color: #5D53AD;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

#answer::placeholder {
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.table {
    position: absolute;
    right: 12%;
    width: 240px;
    height: 600px;
    background-color: var(--violet);
    top: 20%;
    border-radius: 8px;
    padding: 8px;
}

.table h3 {
    font-size: 1.8rem;
    margin: 8px 0;
    font-family: 'Indie Flower', cursive;

}

.table li {
    text-align: left;
    padding: 2px 12px;
    list-style: none;
    font-size: 1.1rem;
    font-family: 'Indie Flower', cursive;

}

#guessBtn,
#hideBtn {
    border: none;
    background-color: white;
    color: var(--darkblue);
    font-weight: 800;
    border-radius: 8px;
}

.devine {
    margin-top: 24px;
}