h1 {
    font-family: $font1;
    font-size: 3rem;
    text-align: center;

    &:after {
        content: "*";
        position: absolute;
        transform: translateY(-6px);
        color: $color1;
    }

    &:hover:after {
        color: $color3;
    }
}