* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

header {
  height: 100vh;
  width: 100%;
  background: url("../img/bg-slider-06.jpg") center/cover;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes slideBG {
  0% {
    background: url("../img/bg-slider-01.jpg") center/cover;
  }
  15% {
    background: url("../img/bg-slider-05.jpg") center/cover;
  }
  30% {
    background: url("../img/bg-slider-06.jpg") center/cover;
  }
  45% {
    background: url("../img/bg-slider-01.jpg") center/cover;
  }
  60% {
    background: url("../img/bg-slider-05.jpg") center/cover;
  }
  75% {
    background: url("../img/bg-slider-06.jpg") center/cover;
  }
}

@keyframes slideBG {
  0% {
    background: url("../img/bg-slider-01.jpg") center/cover;
  }
  15% {
    background: url("../img/bg-slider-05.jpg") center/cover;
  }
  30% {
    background: url("../img/bg-slider-06.jpg") center/cover;
  }
  45% {
    background: url("../img/bg-slider-01.jpg") center/cover;
  }
  60% {
    background: url("../img/bg-slider-05.jpg") center/cover;
  }
  75% {
    background: url("../img/bg-slider-06.jpg") center/cover;
  }
}

header nav {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  position: absolute;
  top: 0;
}

header nav p {
  font-family: "Allura";
  color: #eeeeee;
  font-size: 2.4rem;
  font-weight: bold;
}

header nav .nav__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4vw;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 0.8rem;
}

header nav .nav__site li {
  color: #eeeeee;
}

header nav .nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
}

header nav .nav__social li {
  color: #eeeeee;
}

@media screen and (max-width: 750px) {
  header nav .nav__site {
    display: none;
  }
  header nav .nav__social {
    gap: 4vw;
  }
}

header .header__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__content h1 {
  font-family: "Poppins";
  color: #eeeeee;
  text-align: center;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.8rem;
  padding: 24px 0;
}

header .header__content h1 span {
  font-family: "Allura";
  color: #AC7647;
  font-weight: lighter;
  letter-spacing: normal;
}

header .header__content p {
  font-family: "Roboto";
  color: #eeeeee;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: lighter;
  padding: 24px 0;
}

@media screen and (max-width: 750px) {
  header .header__content h1 {
    font-size: 2.5rem;
    line-height: 3.4rem;
    letter-spacing: 0.8rem;
    padding: 12px 0;
  }
  header .header__content p {
    font-size: 0.8rem;
    text-align: center;
  }
}

.store__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55vh;
}

.store__container .store__container-left,
.store__container .store__container-right {
  width: 50%;
  height: 100%;
}

.store__container .store__container-right {
  background: url("../img/store-01.jpg") center/cover;
}

.store__container .store__container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
}

.store__container .store__container-left .store__left__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px dashed #AC7647;
  height: 100%;
  text-align: center;
  padding: 24px 12px;
}

.store__container .store__container-left .store__left__content h2 {
  font-family: "Poppins";
  color: #21201E;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.store__container .store__container-left .store__left__content h2 span {
  font-family: "Allura";
  color: #AC7647;
  font-weight: lighter;
  letter-spacing: normal;
  font-size: 2rem;
}

.store__container .store__container-left .store__left__content .logo__small {
  padding: 24px 0;
}

.store__container .store__container-left .store__left__content .store__text {
  font-family: "Roboto";
  color: #21201E;
  font-size: 0.9rem;
}

.store__container .store__container-left .store__left__content .photo__chef1 {
  border-radius: 50%;
  width: 80px;
  padding: 16px 0;
}

.store__container .store__container-left .store__left__content .title__img {
  font-family: "Poppins";
  color: #21201E;
  font-size: 1rem;
}

.store__container .store__container-left .store__left__content .subtitle__img {
  font-family: "Roboto";
  color: #21201E;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8rem;
}

@media screen and (max-width: 750px) {
  .store__container .store__container-right {
    display: none;
  }
  .store__container .store__container-left {
    width: 100%;
  }
}

.section__menu__container {
  height: 100%;
  width: 100%;
}

.section__menu__container .background-bot {
  width: 100%;
  height: 110vh;
  background: url("../img/bg-menu-01.jpg") bottom/150% no-repeat;
  background-color: #21201E;
}

@media screen and (max-width: 900px) {
  .section__menu__container .background-bot {
    height: 100%;
  }
}

.section__menu__container .container__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 48px;
}

.section__menu__container .container__menu .container__menu__head {
  width: 100%;
  text-align: center;
}

.section__menu__container .container__menu .container__menu__head h2 {
  font-family: "Allura";
  color: #AC7647;
  letter-spacing: normal;
  font-size: 2rem;
}

.section__menu__container .container__menu .container__menu__head .logo__small {
  padding: 24px 0;
}

.section__menu__container .container__menu .container__menu__head nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

.section__menu__container .container__menu .container__menu__head nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.section__menu__container .container__menu .container__menu__head nav ul li {
  font-family: "Poppins";
  font-weight: lighter;
  color: #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.section__menu__container .container__menu .menu__grid {
  width: 65%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: (25%)[4];
      grid-template-rows: repeat(4, 25%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeeeee;
  border-top: 2px solid #AC7647;
}

.section__menu__container .container__menu .menu__grid .menu__solo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 16px 8px;
  border-bottom: 1px dashed #b9b9b9;
  margin: 16px;
}

.section__menu__container .container__menu .menu__grid .menu__solo img {
  border-radius: 50%;
}

.section__menu__container .container__menu .menu__grid .menu__solo .title__menu {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bolder;
}

.section__menu__container .container__menu .menu__grid .menu__solo .ingredient__menu {
  font-family: "Roboto";
  padding: 8px 0;
}

.section__menu__container .container__menu .menu__grid .menu__solo .price {
  color: #AC7647;
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  .section__menu__container .container__menu .menu__grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (12%)[8];
        grid-template-rows: repeat(8, 12%);
    width: 50%;
  }
  .section__menu__container .container__menu .menu__grid .menu__solo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 60% 10%;
        grid-template-columns: 30% 60% 10%;
    gap: 0px;
    margin: 0;
  }
  .section__menu__container .container__menu .menu__grid .menu__solo img {
    border-radius: 50%;
    width: 80%;
  }
  .section__menu__container .container__menu .menu__grid .menu__solo .title__menu {
    font-size: 0.9rem;
  }
  .section__menu__container .container__menu .menu__grid .menu__solo .ingredient__menu {
    font-size: 0.8rem;
    padding: 8px 0;
  }
  .section__menu__container .container__menu .menu__grid .menu__solo .price {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .section__menu__container .container__menu .menu__grid {
    width: 80%;
  }
}

.section__reservation {
  width: 100%;
  height: 80vh;
  background-color: #21201E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__reservation .section__reservation__container {
  background-color: #eeeeee;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__reservation .section__reservation__container .reservation__container__left {
  text-align: center;
  background-color: #000000;
}

.section__reservation .section__reservation__container .reservation__container__left-content {
  margin: 24px;
  border: 1px dashed #AC7647;
  background-color: #000000;
  padding: 16px;
}

.section__reservation .section__reservation__container .reservation__container__left-content h4 {
  font-family: "Poppins";
  color: #eeeeee;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 16px;
}

.section__reservation .section__reservation__container .reservation__container__left-content h4 span {
  font-family: "Allura";
  color: #AC7647;
  font-weight: lighter;
  letter-spacing: normal;
  font-size: 2rem;
}

.section__reservation .section__reservation__container .reservation__container__left-content .days {
  font-family: "Poppins";
  text-transform: uppercase;
  color: #AC7647;
  padding: 16px 0;
  font-size: 1.1rem;
}

.section__reservation .section__reservation__container .reservation__container__left-content .hours {
  font-family: "Roboto";
  font-size: 0.9rem;
  color: #eeeeee;
}

.section__reservation .section__reservation__container .reservation__container__right {
  text-align: center;
  margin: 0 72px;
}

.section__reservation .section__reservation__container .reservation__container__right h4 {
  font-family: "Poppins";
  color: #000000;
  font-size: 2rem;
  line-height: 2rem;
}

.section__reservation .section__reservation__container .reservation__container__right h4 span {
  font-family: "Allura";
  color: #AC7647;
  font-weight: lighter;
  letter-spacing: normal;
  font-size: 3rem;
  line-height: 1.4rem;
}

.section__reservation .section__reservation__container .reservation__container__right img {
  padding: 32px 0;
}

.section__reservation .section__reservation__container .reservation__container__right form .form_line1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 500px) {
  .section__reservation .section__reservation__container .reservation__container__right form .form_line1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section__reservation .section__reservation__container .reservation__container__right form .form_line2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  padding: 16px 0;
}

@media screen and (max-width: 500px) {
  .section__reservation .section__reservation__container .reservation__container__right form .form_line2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section__reservation .section__reservation__container .reservation__container__right form input {
  border: none;
  background-color: #eeeeee;
  padding: 12px 0;
  border-bottom: 1px solid #161513;
  font-family: "Roboto";
}

.section__reservation .section__reservation__container .reservation__container__right form input:focus {
  outline: none;
}

.section__reservation .section__reservation__container .reservation__container__right form select {
  border: none;
  background-color: #eeeeee;
  padding: 12px 0;
  border-bottom: 1px solid #161513;
  font-family: "Roboto";
}

.section__reservation .section__reservation__container .reservation__container__right form select:focus {
  outline: none;
}

.section__reservation .section__reservation__container .reservation__container__right form button {
  color: #eeeeee;
  background-color: #000000;
  border-radius: 25px;
  height: 50px;
  width: 170px;
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  margin-top: 16px;
  cursor: pointer;
}

.section__reservation .section__reservation__container .reservation__container__right form button:hover {
  background-color: #161513;
}

@media screen and (max-width: 500px) {
  .section__reservation .section__reservation__container .reservation__container__right {
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .section__reservation .section__reservation__container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 40% 60%;
        grid-template-rows: 40% 60%;
    width: 100%;
  }
  .section__reservation .section__reservation__container h4 {
    padding: 16px 0;
  }
}

@media screen and (max-width: 500px) {
  .section__reservation .section__reservation__container form .form_line1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
    padding-bottom: 16px;
  }
  .section__reservation .section__reservation__container form .form_line2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
    padding: 16px 0;
  }
}

@media screen and (max-width: 900px) {
  .section__reservation {
    height: 100%;
    padding: 80px 0;
  }
}

.event__section {
  background-color: #21201E;
  height: 100vh;
}

.event__section .event__header {
  text-align: center;
}

.event__section .event__header h3 {
  font-family: "Poppins";
  color: #eeeeee;
  font-size: 2rem;
}

.event__section .event__header h3 span {
  font-family: "Allura";
  color: #AC7647;
  font-weight: lighter;
  letter-spacing: normal;
  font-size: 2.4rem;
}

.event__section .event__header .logo__small {
  padding: 24px 0;
}

.event__section .grid__event {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 50% 30%;
      grid-template-columns: 50% 30%;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: 'night celebrities' 'dj celebrities';
}

.event__section .event01 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: night;
  background-color: aquamarine;
}

.event__section .event02 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: dj;
  background-color: chocolate;
}

.event__section .event03 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: celebrities;
  background-color: crimson;
  width: 100%;
  height: 100%;
}

.event__section .event__left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event__section .event__left .event__left-img {
  background: url("../img/event-01.jpg") center/cover;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event__section .event__left .event__left-img .event__container-text {
  width: 72px;
  height: 72px;
  background-color: #21201E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event__section .event__left .event__left-img p {
  font-family: "Roboto";
  color: #eeeeee;
  text-align: center;
}

.event__section .event__left .event__left-img p span {
  font-size: 1.2rem;
  font-weight: bold;
}

.event__section .event__left .event__left-img02 {
  background: url("../img/event-02.jpg") center/cover;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event__section .event__left .event__left-img02 .event__container-text {
  width: 72px;
  height: 72px;
  background-color: #21201E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event__section .event__left .event__left-img02 p {
  font-family: "Roboto";
  color: #eeeeee;
  text-align: center;
}

.event__section .event__left .event__left-img02 p span {
  font-size: 1.2rem;
  font-weight: bold;
}

.event__section .event__left .event__left-right {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  padding: 56px 24px;
}

.event__section .event__left .event__left-right .event__title {
  font-family: "Roboto";
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding-bottom: 16px;
}

.event__section .event__left .event__left-right .event__location {
  font-family: "Roboto";
  color: #b6b6b6;
  padding-bottom: 16px;
}

.event__section .event__left .event__left-right .event__link {
  padding: 16px 0;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.event__section .event__right {
  height: 100%;
  background: url("../img/event-03.jpg") center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px;
}

.event__section .event__right .event__right-content {
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.event__section .event__right .event__right-content .event__right-text-container {
  position: absolute;
  top: 0;
  width: 72px;
  height: 72px;
  background-color: #21201E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.event__section .event__right .event__right-content .event__right-text-container p {
  font-family: "Roboto";
  color: #eeeeee;
  text-align: center;
}

.event__section .event__right .event__right-content .event__right-text-container p span {
  font-size: 1.2rem;
  font-weight: bold;
}

.event__section .event__right .event__right-content .event__title {
  font-family: "Roboto";
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 36px 0;
  text-align: center;
}

.event__section .event__right .event__right-content .event__location {
  font-family: "Roboto";
  color: #b6b6b6;
  padding-bottom: 48px;
}

.event__section .event__right .event__right-content .event__link {
  padding-top: 36px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 750px) {
  .event__section {
    display: none;
  }
}

.quote__container {
  width: 100%;
  height: 40vh;
  background: url("../img/gmap.jpg") center/cover;
  position: relative;
}

.quote__container .quote__content {
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 10%;
  top: -20%;
}

.quote__container .quote__content img {
  width: 56px;
  border-radius: 50%;
  position: absolute;
  top: -24px;
}

.quote__container .quote__content .quote__maintext {
  padding: 0 80px;
  padding-top: 56px;
  padding-bottom: 24px;
  text-align: center;
  font-family: "Roboto";
  font-size: 0.9rem;
  line-height: 2rem;
}

@media screen and (max-width: 750px) {
  .quote__container .quote__content .quote__maintext {
    padding: 0 40px;
    padding-top: 48px;
    padding-bottom: 25px;
  }
}

.quote__container .quote__content .quote__maintext i {
  padding: 8px;
}

.quote__container .quote__content .autor {
  font-family: "Roboto";
  padding: 16px 0;
}

.quote__container .quote__content .poste {
  font-family: "Roboto";
  color: #AC7647;
  font-size: 0.8rem;
  padding-bottom: 24px;
}

@media screen and (max-width: 750px) {
  .quote__container .quote__content {
    top: -10%;
    height: 100%;
  }
}

@media screen and (max-width: 750px) {
  .quote__container {
    height: 100%;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__left {
  background-color: #161513;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 56px 10%;
}

footer .footer__left h4 {
  font-family: "Allura";
  color: #AC7647;
  font-size: 2rem;
  font-weight: lighter;
}

footer .footer__left p {
  color: #eeeeee;
  font-family: "Roboto";
  font-size: 0.8rem;
  line-height: 1.4rem;
}

footer .footer__right {
  background-color: #21201E;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 56px 10%;
}

footer .footer__right p {
  text-transform: uppercase;
  color: #eeeeee;
  font-family: "Poppins";
  padding: 16px 0;
}

footer .footer__right input {
  background-color: #21201E;
  padding: 8px;
  width: 12vw;
  border: 1px solid #161513;
}

footer .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}

footer .social__list li {
  color: #eeeeee;
}

@media screen and (max-width: 750px) {
  footer {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  footer .footer__left {
    display: none;
  }
  footer .footer__right {
    width: 100%;
  }
  footer .footer__right input {
    width: 50vw;
  }
  footer .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
  }
  footer .social__list li {
    color: #eeeeee;
  }
}
/*# sourceMappingURL=style.css.map */