header {
    height: 100vh;
    width: 100%;
    position: relative;


    .header__content {
        @include centerColumn;
        height: 100vh;
    }

    h1 {
        color: $color1;
        text-transform: uppercase;
        font-family: $font1;
        letter-spacing: 6px;
        text-align: center;
        font-size: 5rem;
        padding: 0;

        @media screen and (max-width: 800px) {
            font-size: 3rem;

        }
    }

    .header__content-text {
        font-family: $font2;
        color: $color1;
        padding: 56px 0;
        font-size: 1rem;
        text-align: center;

        @media screen and (max-width: 800px) {
            font-size: 0.8rem;
            text-align: center;

        }
    }

    .dropdown-btn {
        color: $color1;
        border: 2px solid white;
        padding: 10px 13px;
        border-radius: 50%;

        &:hover {
            color: $color2;
            background-color: $color1;
        }
    }

    nav {
        width: 100%;
        position: absolute;
        bottom: 0;
        @include centerRow;
        background-color: rgba($color: #ffffff, $alpha: 0.4);
    }

    li {
        list-style: none;
        color: $color1;
    }

    a {
        text-decoration: none;

        & li:hover {
            color: $color2;
            background-color: #ebebebc9;
        }
    }

    .nav__left {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 16px;
        text-transform: uppercase;
        font-family: $font1;
        letter-spacing: 1.4px;
        font-size: 0.8rem;

        & li {
            padding: 24px 24px;
        }
    }

    .nav__right {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 16px;

        & li {
            padding: 24px 24px;
        }
    }

    @media screen and (max-width: 710px) {
        .nav__right {
            display: none;
        }

        .nav__left li {
            text-align: center;
        }

    }


    @media screen and (max-width: 600px) {
        .header__content-text {
            padding: 56px 24px;
            font-size: 0.8rem;
        }

        .nav__left li {
            text-align: center;
        }
    }

    @media screen and (max-width: 400px) {
        .nav__left {

            & li {
                padding: 24px 4px;
                font-size: 0.6rem;
            }
        }
    }


}