.jump__container {
    background-color: $color1;
    @include centerColumn;

    .jump__container-head {
        font-size: 1rem;
        font-family: $font2;
        padding: 56px 0;

        &::before {
            content: "";
            display: block;
            width: 300px;
            height: 1px;
            background: rgb(196, 196, 196);
            left: 20%;
            position: absolute;
            transform: translateY(8px);

            @media screen and (max-width: 1200px) {
                width: 200px;
                left: 20%;
            }

            @media screen and (max-width: 900px) {
                width: 200px;
                left: 10%;
            }

            @media screen and (max-width: 800px) {
                width: 200px;
                left: 10%;
            }

            @media screen and (max-width: 600px) {
                width: 100px;
                left: 10%;
            }

            @media screen and (max-width: 400px) {
                width: 60px;
                left: 60px;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 300px;
            height: 1px;
            background: rgb(196, 196, 196);
            right: 20%;
            position: absolute;
            transform: translateY(-12px);

            @media screen and (max-width: 1200px) {
                width: 200px;
                right: 20%;
            }

            @media screen and (max-width: 900px) {
                width: 200px;
                right: 10%;
            }

            @media screen and (max-width: 800px) {
                width: 200px;
                right: 10%;
            }

            @media screen and (max-width: 600px) {
                width: 100px;
                right: 10%;
            }

            @media screen and (max-width: 400px) {
                width: 60px;
                right: 60px;
            }

        }

    }

    .jump__container-text {
        display: block;
        padding: 24px 280px;
        margin: 0 auto;


        h2 {
            color: $color2;
            text-transform: uppercase;
            font-family: $font1;
            letter-spacing: 6px;
            text-align: center;
            font-size: 3rem;
            padding: 0;
        }

        p {
            text-align: center;
            font-family: $font2;
            line-height: 2rem;
            padding: 24px 0;
            font-style: italic;
        }


        @media screen and (max-width: 800px) {
            padding: 24px 80px;

            h2 {
                font-size: 2rem;

            }

            p {
                font-size: 0.8rem;
            }
        }

        @media screen and (max-width: 400px) {
            padding: 24px 20px;

            h2 {
                font-size: 2rem;

            }

            p {
                font-size: 0.8rem;
            }
        }
    }


}



.jump__container-img {
    width: 80%;
}