@font-face {
    font-family: "InterBold";
    src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "MerriweatherLight";
    src: url(../fonts/Merriweather-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flux {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media screen and (max-width: 1200px) {
        max-width: 1000px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (max-width: 1000px) {
        max-width: 900px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (max-width: 800px) {
        max-width: 700px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (max-width: 710px) {
        max-width: 600px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (max-width: 600px) {
        max-width: 500px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (max-width: 500px) {
        max-width: 400px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (max-width: 400px) {
        max-width: 300px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}


@mixin centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin centerColumnForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin centerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


$color1: white;
$color2: black;
$font1: "InterBold";
$font2: "MerriweatherLight"