@font-face {
  font-family: "InterBold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
  font-family: "MerriweatherLight";
  src: url(../fonts/Merriweather-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flux {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .flux {
    max-width: 1000px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1000px) {
  .flux {
    max-width: 900px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 800px) {
  .flux {
    max-width: 700px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 710px) {
  .flux {
    max-width: 600px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  .flux {
    max-width: 500px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 500px) {
  .flux {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 400px) {
  .flux {
    max-width: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.site__btn {
  margin: 24px auto;
  padding: 12px 32px;
  background-color: white;
  text-transform: uppercase;
  font-family: "InterBold";
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
}

.site__btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

body {
  background: url("../img/bg.jpg") fixed center/cover;
  height: 100%;
  width: 100%;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
}

header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header h1 {
  color: white;
  text-transform: uppercase;
  font-family: "InterBold";
  letter-spacing: 6px;
  text-align: center;
  font-size: 5rem;
  padding: 0;
}

@media screen and (max-width: 800px) {
  header h1 {
    font-size: 3rem;
  }
}

header .header__content-text {
  font-family: "MerriweatherLight";
  color: white;
  padding: 56px 0;
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  header .header__content-text {
    font-size: 0.8rem;
    text-align: center;
  }
}

header .dropdown-btn {
  color: white;
  border: 2px solid white;
  padding: 10px 13px;
  border-radius: 50%;
}

header .dropdown-btn:hover {
  color: black;
  background-color: white;
}

header nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
}

header li {
  list-style: none;
  color: white;
}

header a {
  text-decoration: none;
}

header a li:hover {
  color: black;
  background-color: #ebebebc9;
}

header .nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  text-transform: uppercase;
  font-family: "InterBold";
  letter-spacing: 1.4px;
  font-size: 0.8rem;
}

header .nav__left li {
  padding: 24px 24px;
}

header .nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

header .nav__right li {
  padding: 24px 24px;
}

@media screen and (max-width: 710px) {
  header .nav__right {
    display: none;
  }
  header .nav__left li {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  header .header__content-text {
    padding: 56px 24px;
    font-size: 0.8rem;
  }
  header .nav__left li {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  header .nav__left li {
    padding: 24px 4px;
    font-size: 0.6rem;
  }
}

.jump__container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jump__container .jump__container-head {
  font-size: 1rem;
  font-family: "MerriweatherLight";
  padding: 56px 0;
}

.jump__container .jump__container-head::before {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #c4c4c4;
  left: 20%;
  position: absolute;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

@media screen and (max-width: 1200px) {
  .jump__container .jump__container-head::before {
    width: 200px;
    left: 20%;
  }
}

@media screen and (max-width: 900px) {
  .jump__container .jump__container-head::before {
    width: 200px;
    left: 10%;
  }
}

@media screen and (max-width: 800px) {
  .jump__container .jump__container-head::before {
    width: 200px;
    left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .jump__container .jump__container-head::before {
    width: 100px;
    left: 10%;
  }
}

@media screen and (max-width: 400px) {
  .jump__container .jump__container-head::before {
    width: 60px;
    left: 60px;
  }
}

.jump__container .jump__container-head::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #c4c4c4;
  right: 20%;
  position: absolute;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}

@media screen and (max-width: 1200px) {
  .jump__container .jump__container-head::after {
    width: 200px;
    right: 20%;
  }
}

@media screen and (max-width: 900px) {
  .jump__container .jump__container-head::after {
    width: 200px;
    right: 10%;
  }
}

@media screen and (max-width: 800px) {
  .jump__container .jump__container-head::after {
    width: 200px;
    right: 10%;
  }
}

@media screen and (max-width: 600px) {
  .jump__container .jump__container-head::after {
    width: 100px;
    right: 10%;
  }
}

@media screen and (max-width: 400px) {
  .jump__container .jump__container-head::after {
    width: 60px;
    right: 60px;
  }
}

.jump__container .jump__container-text {
  display: block;
  padding: 24px 280px;
  margin: 0 auto;
}

.jump__container .jump__container-text h2 {
  color: black;
  text-transform: uppercase;
  font-family: "InterBold";
  letter-spacing: 6px;
  text-align: center;
  font-size: 3rem;
  padding: 0;
}

.jump__container .jump__container-text p {
  text-align: center;
  font-family: "MerriweatherLight";
  line-height: 2rem;
  padding: 24px 0;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .jump__container .jump__container-text {
    padding: 24px 80px;
  }
  .jump__container .jump__container-text h2 {
    font-size: 2rem;
  }
  .jump__container .jump__container-text p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .jump__container .jump__container-text {
    padding: 24px 20px;
  }
  .jump__container .jump__container-text h2 {
    font-size: 2rem;
  }
  .jump__container .jump__container-text p {
    font-size: 0.8rem;
  }
}

.jump__container-img {
  width: 80%;
}

.article__container {
  background-color: white;
  border-top: 2px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .article__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article__container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 56px;
}

.article__container-content:first-child {
  border-right: 1px solid #ececec;
}

@media screen and (max-width: 600px) {
  .article__container-content:first-child {
    border: none;
  }
}

.article__container-content:last-child {
  border-left: 1px solid #ececec;
}

@media screen and (max-width: 600px) {
  .article__container-content:last-child {
    border: none;
  }
}

.article__container-content img {
  width: 100%;
  padding: 36px 0;
}

.article__container-content p {
  font-family: "MerriweatherLight";
  font-size: 0.8rem;
  line-height: 2rem;
}

.article__container-content h3 {
  color: black;
  text-transform: uppercase;
  font-family: "InterBold";
  letter-spacing: 4px;
  text-align: center;
  font-size: 1.3rem;
  padding: 0;
  padding-top: 24px;
}

.footer__container {
  margin-top: 24px;
  margin-bottom: 56px;
  background-color: white;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container .footer__container-left,
.footer__container .footer__container-right {
  width: 50%;
  height: 100%;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__container .footer__container-left:first-child,
.footer__container .footer__container-right:first-child {
  border-right: 1px solid #ececec;
}

@media screen and (max-width: 600px) {
  .footer__container .footer__container-left:first-child,
  .footer__container .footer__container-right:first-child {
    border-right: none;
  }
}

.footer__container .footer__container-left:last-child,
.footer__container .footer__container-right:last-child {
  border-left: 1px solid #ececec;
}

@media screen and (max-width: 600px) {
  .footer__container .footer__container-left:last-child,
  .footer__container .footer__container-right:last-child {
    border-left: none;
  }
}

.footer__container .form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container .form__container label {
  padding: 12px 0;
  font-family: "InterBold";
  color: grey;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}

.footer__container .form__container input {
  width: 100%;
  height: 2rem;
  border: 1px solid #ececec;
}

.footer__container .form__container #text-area {
  width: 100%;
  height: 8rem;
  border: 1px solid #ececec;
}

.footer__container .form__container .btn__footer {
  margin: 24px auto;
  padding: 12px 32px;
  background-color: white;
  text-transform: uppercase;
  font-family: "InterBold";
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
  border: 2px solid #a5a5a5;
  color: grey;
  margin-left: 0;
}

.footer__container .form__container .btn__footer:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
}

@media screen and (max-width: 600px) {
  .footer__container {
    margin-top: 24px;
    margin-bottom: 56px;
    background-color: white;
    height: 110vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__container .footer__container-left,
  .footer__container .footer__container-right {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container .footer__container-left {
    border-bottom: 1px solid #a5a5a5;
  }
  .footer__container .footer__container-rigth {
    border-top: 1px solid #a5a5a5;
  }
}

.footer__container-right {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.footer__right-minicontainer {
  height: 11vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__right-minicontainer .minicontainer__title {
  font-family: "InterBold";
  color: grey;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 800px) {
  .footer__right-minicontainer .minicontainer__text {
    padding-left: 24px;
  }
}

.list__footer {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.list__footer a div {
  text-decoration: none;
  color: black;
  border: 1px solid grey;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.list__footer li {
  text-align: center;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

@media screen and (max-width: 800px) {
  .list__footer {
    gap: 12px;
  }
}

@media screen and (max-width: 710px) {
  .list__footer {
    gap: 4px;
  }
  .list__footer a div {
    width: 30px;
    height: 30px;
  }
  .list__footer li {
    text-align: center;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
}
/*# sourceMappingURL=style.css.map */